# Database Configuration
MONGODB_URI=mongodb+srv://hopeholidaysinfo_db_user:KbKiZ8klKkJh7uuk@cluster0.d2r6rlr.mongodb.net

# Auth.js / NextAuth Configuration
NEXTAUTH_SECRET=your_super_secret_nextauth_key_here
NEXTAUTH_URL=http://localhost:3000

# Cloudinary Configuration
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Site Configuration
NEXT_PUBLIC_SITE_NAME="Hope Global Academy"
NEXT_PUBLIC_SITE_URL=http://localhost:3000
